body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

#addedMessageContainer {
  text-align: center;
  width: 100%;
  display: none;
}

#addedMessage {
  display: inline;
}

pre {
  color: red;
  display: inline;
}

#checkmark {
  display: inline;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* Class for hours that have already past to be applied dynamically */
.past {
  background-color: #d3d3d3;
  color: white;
}

/* Class for current hour to be applied dynamically */
.present {
  background-color: #ff6961;
  color: white;
}

/* Class for hours that have not arrived to be applied dynamically */
.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
